
@font-face {
    font-family: 'Tiempos Headline Medium';
    src: url('fonts/TiemposHeadline-Medium.eot');
    src: url('fonts/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TiemposHeadline-Medium.woff') format('woff'),
    url('fonts/TiemposHeadline-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    @font-face {
        font-family: 'Tiempos Text Regular';
        src: url('fonts/TiemposText-Regular.eot');
        src: url('fonts/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TiemposText-Regular.woff') format('woff'),
        url('fonts/TiemposText-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
            font-family: 'Tiempos Text Italic';
            src: url('fonts/TiemposText-Italic.eot');
            src: url('fonts/TiemposText-Italic.eot?#iefix') format('embedded-opentype'),
            url('fonts/TiemposText-Italic.woff') format('woff'),
            url('fonts/TiemposText-Italic.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
            }